<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <%for(var i=0;i<subjects.length-1;i++){%>
        <h1><%=subjects[i]%></h1>
        <%let entries=Object.entries(links[i])%>
        <%for(let [prop, val] of entries) {%>
            <!-- <p><%=prop%></p> -->
            <!-- <%prop=_.kebabCase(prop);%>     -->
            <h1><%=prop%></h1>
            <ul>
                <%for(var j=0;j<val.length;j++){%>
                    <li>
                        <%let postTitle=_.kebabCase(val[j]);%>
                        <a href="/<%=prep[i]%>/<%=subjects[i]%>/<%=postTitle%>"><%=val[j]%></a>
                    </li>
                <%}%>
            </ul>
            
        <%}%>
    <%}%>
</body>
</html>